{% extends "_base.html" %}

{% block title %}
BRD - Página Principal
{% endblock %}

{% block content %}
<!-- ESTA PÁGINA ES SOLO DE DEMOSTRACIÓN -->
<br>
<h3 class="text-center">ÚLTIMOS DIBUJOS REALIZADOS POR LA COMUNIDAD</h3>
<br>
<div class="container text-center" style="color:black;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.picsum.photos/id/201/200/200.jpg?hmac=bDRwJ_w2on8pQ9tbqlqMghsddYlj20LS9E3l3NswK7Q" class="card-img-top" alt="...">
                <div class="card-body">
                    <img src="https://ccpapurimac.sacpro.pe/uploads/member_image/default.jpg" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                    <h5 class="card-title">@usuario</h5>
                    <p class="card-text">DD/MM/AA - HH:MM:SS</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}
