<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-light bg-light border-bottom border-dark">
    <div class="container-fluid">

        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('home_page') }}">
            {% else %}
            <a class="navbar-brand" href="{{ url_for('root_page') }}">
                {% endif %}
                <img src="{{ url_for('static', filename='images/Industry-Robot-icon.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                BRD
            </a>

            {% if request.endpoint == 'root_page' or request.endpoint == 'login_page' or request.endpoint == 'register_page' %}
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="{{ url_for('register_page') }}" class="btn btn-primary mr-2">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('login_page') }}" class="btn btn-secondary">Iniciar Sesión</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav justify-content-end">
                <form class="form-inline my-2 my-lg-0 mr-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Nombre de usuario" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar dibujos</button>
                </form>
                <li class="nav-item">
                    <a href="{{ url_for('board_page') }}" class="btn btn-primary mr-2">Ir a Pizarra</a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.username }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ url_for('mydrawings_page') }}">Mis dibujos</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('settings_page') }}">Configuración</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout_page') }}">Cerrar sesión</a></li>
                    </ul>
                </div>
                <li class="nav-item">
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="" width="35" height="35" class="pfp d-inline-block align-text-top">
                </li>
            </ul>
            {% endif %}

    </div>
</nav>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} d-flex align-items-center alert-dismissible fade show" role="alert">
    {% if category == 'success' %}
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill"/>
    </svg>
    {% elif category == 'danger' %}
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill"/>
    </svg>
    {% elif category == 'info' %}
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
        <use xlink:href="#info-fill"/>
    </svg>
    {% endif %}
    <div>
        {{ message }}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}

{% endblock %}

<script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap/jquery.min.js') }}"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>


<style>
    {% if request.endpoint == 'board_page' %}
        html body {
            background-color: #FFFFFF;
            color: #FFFFFF;
            padding: 0px;
            margin: 0px;
        }
    {% else %}
        html body {
            background-color: #2B2B2B;
            color: #FFFFFF;
        }
    {% endif %}

    .pfp {
        border:1px solid #021a40;
    }

    #canvas {
        border: 3px solid black;
        height: 100px;
        width: 100px
    }
</style>

</html>
