{% extends "_base.html" %}

{% block title %}
BRD - Página Principal
{% endblock %}

{% block content %}
<br>
<h3 class="text-center">ÚLTIMOS DIBUJOS REALIZADOS POR LA COMUNIDAD</h3>
<br>
{% if drawings_exist %}
<div class="container">
  <table class="table table-bordered" style="color:white; text-align:center">
    <thead align="center">
      <tr>
        <th style="vertical-align:middle;" scope="col">Usuario</th>
        <th style="vertical-align:middle;" scope="col">Figura</th>
        <th style="vertical-align:middle;" scope="col">Dimensiones</th>
        <th style="vertical-align:middle;" scope="col">Fecha</th>
        <th style="vertical-align:middle;" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in drawings %}
        <tr style="background-color:white; color:black">
          <td style="vertical-align:middle;">
            {{item.user_id}}
          </td>
          <td style="vertical-align:middle;">
            {% if item.type == 'circle' %}
              Círculo
            {% elif item.type == 'square' %}
              Cuadrado
            {% elif item.type == 'triangle' %}
              Triángulo
            {% endif %}
          </td>
          <td style="vertical-align:middle;">
            {% if item.type == 'circle' %}
              Radio = {{item.size}}
            {% else %}
              Lados = {{item.size}}
            {% endif %}
          </td>
          <td style="vertical-align:middle;">{{item.created_date}}</td>
          <td style="vertical-align:middle;">
            <form method="post" action="#">
              <button type="submit" class="btn btn-primary" name="form-submit-board" value="{{item.id}}">Ver en pizarra</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="container text-center">
  <h6>No hay dibujos disponibles para mostrar.</h6>
</div>
{% endif %}
{% endblock %}
