{% extends "_base.html" %}

{% block title %}
BRD - Página Principal
{% endblock %}

{% block content %}
<br>
<h3 class="text-center">MIS DIBUJOS</h3>
<br>
<table class="table table-striped" style="color:white;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Figura</th>
      <th scope="col">Fecha</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for item in drawings %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.user_id}}</td>
        <td>{{item.type}}</td>
        <td>{{item.created_date}}</td>
        <td>
          <form method="post" action="#" style="display: inline-block;">
            <button type="submit" class="btn btn-warning" name="form-submit-board" value="{{item.id}}">Verlo en la pizarra</button>
          </form>
          <form method="post" action="#" style="display: inline-block;" onsubmit="return confirm('¿Estás seguro de borrar el dibujo? Esta acción no se puede deshacer.');">
            <button type="submit" class="btn btn-danger" name="form-submit-delete" value="{{item.id}}">Borrar</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
